@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Clicker+Script&family=Patrick+Hand&family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&family=Tulpen+One&display=swap');

.title{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
    }
    h4{
        margin: 0%;
        font-family: sans-serif;
      }
      h6{
        font-size: 13px;
        margin: 0%;
      }

h1 {
    text-align: center;
    color: whitesmoke;
    background-color: var(--NAVY-BLUE, #2E2F42);
    height: 150px;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 700;
}
.btn {
    background-color: rgb(75, 117, 231);
    border-radius: 20px;
    color: whitesmoke;
    width: 100px;
    height: 30px;
    font-size: 13px;
    cursor: pointer;
    border: none;
    box-shadow: 5 5 25px;
}
.btn:hover {
    box-shadow: 0 0 50px, 0 0 100px, 0 0 200px;
}

h2{
    text-align: center;
    font-size: 35px;
    font-family: sans-serif;
}
.content {
    color: whitesmoke;
    background-color: var(--NAVY-BLUE, #2E2F42);
}
footer{
    color: whitesmoke;
    background-color: var(--NAVY-BLUE, #2E2F42);
    font-family: sans-serif;

}
span{
    color: var(--IRIS, #4D5AE5);
}